<h1>Welcome to Your Shoe Collection</h1>

<h3> <%= link_to 'Log In', '/login' %> OR <%= link_to 'Sign Up', '/signup' %> to get started </h3>
<%= link_to("Login with Google", '/auth/google_oauth2', method: :post) %> |
<%= link_to("Login with Github", '/auth/github', method: :post) %>